#delete {
    background: rgb(167, 167, 167);
    color: black;
    border-radius: 4px;
    border-width: 0px;
    padding: 16px;
    font-size: 18px;
    font-family: 'Minion Pro Bold';
}
#block {
    background: rgb(46, 46, 49);
    display: flex;
    padding: 0px;
    border-radius: 4px;
    border-width: 0px;
    margin-bottom: 16px;
}
#blockTitle {
    background: none;
    border: none;
    display: flex;
    flex: 1;
    padding: 16px 16px;
}
#title {
    color: white;
    font-weight: bold;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
  }
#infoIcon {
padding: 12px;
}
