#checkbox {
    background: transparent;
    border-width: 0px;
    padding: 0;
}
#checkmarkIcon {
    height: 30px;
}
#uncheckedCheckbox {
    background: transparent;
    border: 1px solid black;
    width: 28px;
    height: 28px;
    border-radius: 4px;
}